
/* : son pseudoselectores o pseudoelementos  */
/* root es una forma de almacenar variables en css o custom variable properties */ 
:root {
    /*se define el nombre*/
 --blanco: #ffffff;
 --oscuro:#000000;
 --primario: #FFC107;
 --secundario: #0097A7;
 --gris: #757575;
}


html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;/*se ponen tres porque en caso de que no encuentre una fuente carga la siguiente*/

}

.titulo{
    text-align: center;
    font-size: 3.8rem;
    
}

.titulo span{
    font-size: 2rem;
}



.navegacion-principal{
    padding: 1rem;
    display: flex; /*se usa en el contenedor padre*/
    justify-content: space-between; /*Para justificar a los hijos se específica desde el mismo elemento padre*/
    /* la propiedad felx-direction:row indica a que sentido se alinearan los elementos, ya sea en columna o el fila */
    /*ALIGN-ITEMS sirve para las columnas, mientras que justify-content es para las filas*/
}

.navegacion-principal a{
color: var(--blanco);
text-decoration: none; /*elimina la línea debajo de los elementos de la barra de navegación*/

}

.contenedor{
    width: 120rem;
    margin-top: 0;
    margin-right: auto; /*Necesita tener un margin auto en left y right para que se centre*/
    margin-bottom: 0;
    margin-left: auto;
}

.nav-bg{
    background-color: var(--secundario);
}

/* DISPLAY: BLOCK; El elemento se colocará debajo del otro sin importar su tamañp o contenido
/*DISPLAY: INLINE; El elemento se posicionará a la derecha una vez que haya tomado el espacio que requiere



/*
Selector de atributo 
Selecciona elemtnos basados en algún atributo que tenga.
[src="Logo.jpg"]{
    color: blue;
}


todos los hijos
Aplica la siguiente regla a todos los párrafos hijos 
.cliente < p {
    color: bluie;
}
*/